<div class='offset-3 col-6 p-5 rounded shadow-lg'>
  <h1 class='text-center'>Sign In</h1>
  <%= form_with(local: true, url: signin_path) do |form| %>
    <% if flash[:error] %>
      <div class='alert alert-danger' role='alert'>
        <%= flash[:error] %>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label(:name, 'ID or Name:') %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit('Authenticate', class: 'btn btn-block btn-lg btn-primary') %>
    </div>
  <% end %>
</div>