<div class="col-12 px-0">
  <p id="notice"><%= notice %></p>

  
</div>

<div class="col-12 px-0">
  <div class="row">
    <div class="col-4">
      <h1 class="display-4">
        <%= @user.name %>
      </h1>
      <p>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-outline-success' %>
        <%= link_to 'Back to Users', users_path, class: 'btn btn-outline-secondary' %>
      </p>
    </div>
    <div class="col-8">
      <% if @user.event_attendances.any? %>
        <h1 class="display-5 text-muted text-right">
          Events
        </h1>
        <% @user.event_attendances.each do |e| %>
          <p class="rounded shadow my-3 p-3 d-flex flex-row">
            <span class="text-success"><%= e.event.date.strftime('%d-%b-%Y') %></span>
            <span class="text-muted px-5"><%= e.event.title %></span>
            <span class="ml-auto">
              <% if e.event.date.past? %>
                <i class='fa fa-calendar-check-o text-success' title='you attended this event'></i>
              <% else %>
                <i class='fa fa-calendar text-warning' title='this is an upcoming event'></i>
              <% end %>
            </span>
          <p>
        <% end %>
      <% else %>
        <div class="alert alert-primary">
          <strong>Info:</strong> No planned/attended events found
        </div>
      <% end %>
    </div>
  </div>
</div>