<div class="col-12 px-0">
  <p id="notice"><%= notice %></p>
</div>

<div class='col'>
  <h1 class="display-4">
    <%= @user.name %>
  </h1>

  <div class='row'>
    <div class='col'>
      <% if @user.events.any? %>
        <h2 class="display-5 text-muted">Created Events</h2>
        <% @user.events.each do |e| %>
          <p class="rounded shadow my-3 p-3 d-flex flex-row justify-content-between">
            <span class="text-muted"><%= e.title %></span>
            <span class="text-success"><%= e.date.strftime('%d-%b-%Y') %></span>
          <p>
        <% end %>
      <% else %>
        <div class="alert alert-primary">
          <strong>Info:</strong> No created events found
        </div>
      <% end %>
    </div>
    <div class='col'>
      <% if @user.event_attendances.any? %>
        <h2 class="display-5 text-muted text-right">Attended Events</h2>
        <% @user.event_attendances.each do |e| %>
          <p class="rounded shadow my-3 p-3 d-flex flex-row">
            <span class="text-success"><%= e.event.date.strftime('%d-%b-%Y') %></span>
            <span class="text-muted px-5"><%= e.event.title %></span>
            <span class="ml-auto">
              <% if e.event.date.past? %>
                <i class='fa fa-calendar-check-o text-success' title='you attended this event'></i>
              <% else %>
                <i class='fa fa-calendar text-warning' title='this is an upcoming event'></i>
              <% end %>
            </span>
          <p>
        <% end %>
      <% else %>
        <div class="alert alert-primary">
          <strong>Info:</strong> No planned/attended events found
        </div>
      <% end %>
    </div>
  </div>
</div>