<div class="col-12 px-0">
  <p id="notice"><%= notice %></p>
  <h1 class="display-4">Events 
    <span class="btn btn-outline-success float-right" style="font-size: .9rem;"><%= link_to 'New Event', new_event_path %></span>
  </h1>
  <% if @events.any? %>
    <% @events.sort_by{|e| e.date }.each do |e| %>
      <p class="rounded shadow my-3 p-3">
        <span class="text-success"><%= e.date.strftime("%d %^b %Y") %></span>
        <span class="text-muted px-5"><%= e.title %></span>
        <span class="float-right">
          <%= link_to raw('<i class="fa fa-bars px-1" title="edit"></i>'), e %>
          <%= link_to raw('<i class="fa fa-pencil px-1" title="edit"></i>'), edit_event_path(e) %>
          <%= link_to raw('<i class="fa fa-trash px-1" title="remove"></i>'), e, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
      <p>
    <% end %>
  <% else %>
    <div class="alert alert-primary">
      No events
    </div>
  <% end %>
</div>