<div class="col-12 text-center">
  <p id="notice"><%= notice %></p>

  <h1 class="display-4"><%= @event.title %></h1>
  <p class="font-italic text-muted">By <%= @event.creator.name %></h5>
  <p class="text-success"><i class="fa fa-calendar px-3"></i><%= @event.date %></p>

  <p>
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>
  </p>
</div>